/* .navigasi {
    background-color: pink;
}
.main {
    background-color: lightgreen;
} */

a {
    background-color: pink;
}
.main {
    width: 600px;
    background-color: lightgreen;
}
.main h2 {
    background-color: pink;
}